[submodule "tilt"]
    path = tilt_bench/tilt
    url = https://github.com/ampersand-projects/tilt.git
    branch = fix
[submodule "trill_bench/Trill"]
    path = trill_bench/Trill
    url = https://github.com/microsoft/Trill.git
[submodule "trill_bench/reactive"]
    path = trill_bench/reactive
    url = https://github.com/anandj91/reactive.git
[submodule "lightsaber_bench/LightSaber"]
	path = lightsaber_bench/LightSaber
	url = https://github.com/wzhao18/LightSaber.git
[submodule "dataset_util/protobuf"]
	path = dataset_util/protobuf
	url = https://github.com/protocolbuffers/protobuf
