[submodule "tilt"]
    path = tilt_bench/tilt
    url = https://github.com/ampersand-projects/tilt.git
    branch = fix
[submodule "trill_bench/Trill"]
    path = trill_bench/Trill
    url = https://github.com/microsoft/Trill.git
[submodule "trill_bench/reactive"]
    path = trill_bench/reactive
    url = https://github.com/anandj91/reactive.git
[submodule "lightsaber_bench/LightSaber"]
	path = lightsaber_bench/LightSaber
	url = https://github.com/wzhao18/LightSaber.git
[submodule "grizzly_bench/grizzly-prototype"]
	path = grizzly_bench/grizzly-prototype
	url = https://github.com/ampersand-projects/grizzly-prototype.git
	branch = bench
[submodule "streambox_bench/streambox"]
	path = streambox_bench/streambox
	url = https://github.com/wzhao18/streambox.git
[submodule "lightsaber2_bench/LightSaber"]
	path = lightsaber2_bench/LightSaber
	url = https://github.com/ampersand-projects/LightSaber.git
